<html>
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.css') }}">
</head>
<div class='container'>

        <div class='row'>
        <div class='col-md-6'><h2>Restaurants</h2></div>
        <div class='col-md-6'>
            <a href="{{url_for('gdisconnect')}}">
                <h2 class='text-right'>Logout </h2>
            </a>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-6'>
<a href="{{url_for('newRestaurant')}}"><h4>Add new restaurant</h4></a>
</div>
</div>
{% for i in restaurants %}
<div class='row'>
        <div class='col-md-6'>
<a href = "{{url_for('restaurantMenu', restaurant_id = i.id)}}">
<h1>{{i.name}}</h1></a>
<a href='{{url_for('editRestaurant', restaurant_id = i.id) }}'>Edit</a><br>
<a href='{{url_for('deleteRestaurant', restaurant_id = i.id) }}'>Delete</a>
</div>
</div>
<br><br>
{% endfor %}
</div>
</html>